# misc
.DS_Store
*.pem

# debug
*.log*

# env files (can opt-in for committing if needed)
.env*


#tempolary: documents
*.csv
*.xlsx
*.png
*.docx
*.txt

scratch-debut-contest/cmd
scratch-debut-contest/package-lock.json
scratch-debut-contest/package-lock.json
